body {
  text-align: center;
  background: #323232;
  color: white;
  padding: 20px;
  margin: 0;
}

ul {
  width: 440px;
  padding-left: 0;
  margin: 20px auto;
  border: 1px solid #ddd;
  padding: 20px;
}

ul > li {
  list-style-type: none;
  text-align: left;
  margin: 5px 0;
}

.position {
  font-weight: bold;
}

.info {
  text-align: left;
  float: right;
  width: 300px;
}

